<p id="notice"><%= notice %></p>

<legend>Listing Trainings</legend>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Porcent</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr class="info">
        <td><%= training.name %></td>
        <td><%= training.porcent %></td>
        <td><%= training.start_date %></td>
        <td><%= training.end_date %></td>
        <td><%= training.level %></td>
        <td><%= link_to 'Show', training %></td>
        <td><%= link_to 'Edit', edit_training_path(training) %></td>
        <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_training_path %>
