<p id="notice"><%= notice %></p>

<h1>Listing Academics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academics.each do |academic| %>
      <tr>
        <td><%= academic.name %></td>
        <td><%= academic.location %></td>
        <td><%= academic.start_date %></td>
        <td><%= academic.end_date %></td>
        <td><%= academic.grade %></td>
        <td><%= link_to 'Show', academic %></td>
        <td><%= link_to 'Edit', edit_academic_path(academic) %></td>
        <td><%= link_to 'Destroy', academic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic', new_academic_path %>
