<p id="notice"><%= notice %></p>

<h1>Listing Resourses</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ResoursesType</th>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resourses.each do |resourse| %>
      <tr class="info">
        <td><%= resourse.resoursestype %></td>
        <td><%= resourse.name %></td>
        <td><%= resourse.email %></td>
        <td><%= resourse.website %></td>
        <td><%= link_to 'Show', resourse %></td>
        <td><%= link_to 'Edit', edit_resourse_path(resourse) %></td>
        <td><%= link_to 'Destroy', resourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resourse', new_resourse_path %>
