<%= form_for([@profile,@work]) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>
      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='sub-container'>
  <div class='well bs-component '>
    <div class="form-group">
      <%= f.label :company, class: 'col-lg-2 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :company %>
      </div>
  </div>
    <div class="form-group">
      <%= f.label :roles, class: 'col-lg-2 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :roles %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :start_date, class: 'col-lg-2 control-label' %>
      <div class="col-lg-2">
        <%= f.date_select :start_date %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_date, class: 'col-lg-2 control-label' %>
      <div class="col-lg-2">
        <%= f.date_select :end_date %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tasks, class: 'col-lg-2 control-label' %>
      <div class="col-lg-2">
        <%= f.text_area :tasks %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
  </div>
</div>

<% end %>
