<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @work.company %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @work.roles %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @work.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @work.end_date %>
</p>

<p>
  <strong>Tasks:</strong>
  <%= @work.tasks %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
